<a href="https://colab.research.google.com/github/nikhilkatiyarnituk/helpapp/blob/main/200py_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# swap two no without third variable
var1=int(input("enter the value of var1:"))
var2=int(input("enter the value of var2:"))
var1=var1 + var2
var2=var1 - var2
var1=var1 - var2
print("var1=",var1,"var2=",var2)

enter the value of var1:5
enter the value of var2:3
var1= 3 var2= 5

In [ ]:
# Write a Program to extract each digit from an integer in the reverse order.

num=int(input("enter the value of num:"))
num=str (num)[::-1]
print(f"{num}")

enter the value of num:123
321

In [ ]:
#  Write a program that will give you the sum of 3 digits
num=int(input("enter the 3 digit num:"))
a=num//100
b=(num%100)//10
c=num%10
print(a+b+c)

enter the 3 digit num:123
6

In [ ]:
# Write a program that will reverse a four digit number.Also it checks whether the reverse is true
num=int(input("enter the 3 digit num:"))
a=num//1000
b=(num%1000)//100
c=(num%100)//10
d=num%10
print(d,c,b,a)
#reverse formula
rev=1000*a+100*b+10*c+d
if rev==num:
  print("True")
else:
  print("False")

enter the 3 digit num:1234
4 3 2 1
True

In [ ]:
# Write a program to find the euclidean distance between two coordinates.
import math
x1=int(input("enter the x1:"))
x2=int(input("enter the x2:"))
y1=int(input("enter the y1:"))
y2=int(input("enter the y2:"))
X=[x1,x2]
Y=[y1,y2]
print("="*100)
print("euclidian dist=",round(math.dist(X,Y),2))

enter the x1:1
enter the x2:2
enter the y1:3
enter the y2:4
====================================================================================================
euclidian dist= 2.83

In [ ]:
# Write a program that will tell whether the given number is divisible by 3 & 6
x1=int(input("enter the x1:"))
if x1%2==0 and x1%3==0:
  print("yes divisible by 3,6")
else:
  print("not divisible")

enter the x1:13
not divisible

In [ ]:
# Write a program that will take three digits from the user and add the square of each digit.
num=int(input("enter the 3 digit num:"))
a=num//100
b=(num%100)//10
c=num%10
print(a*a+b*b+c*c)

enter the 3 digit num:123
14

In [ ]:
#  Write a program that will check whether the number is (armstrong if power 3)narcissist number number or not.
# An Armstrong number is one whose sum of digits raised to the power \n three equals thenumber itself. 371, for example, is an Armstrong number because \n3**3 + 7**3 + 1**3 =371
num=int(input("enter the 4 digit num:"))
a=num//1000
b=(num%1000)//100
c=(num%100)//10
d=num%10
if a**4+b**4+c**4+d**4==num:
  print("num is armstrong")
else:
  print("not armstrong")

enter the digit num:1634
num is armstrong

In [ ]:
# Display three string “Name”, “Is”, “James” as “Name ** Is ** James

print("name","is","nikhil",sep=" @@ ")

# Display float number with 2 decimal places using print()

num=54.4362789
print(float(round(num,2)))

name @@ is @@ nikhil

In [ ]:
# Print all factors of a given number provided by the user.
num=int(input("enter the num"))
list1=[]
for i in range(1,num):
  if num%i==0:
    list1.append(i)
print(list1)

enter the num24
[1, 2, 3, 4, 6, 8, 12]

In [ ]:
# Accept a list of 5 float numbers as an input from the user

list1=[]
n=5
while n>=1:
  num=float(input("enter the float num:"))
  list1.append(num)
  n=n-1
print(list1)

enter the float num:1.1
enter the float num:1.2
enter the float num:1.3
enter the float num:1.4
enter the float num:1.5
[1.1, 1.2, 1.3, 1.4, 1.5]

In [ ]:
# Accept any three string from one input() call
inp=input("enter the three name with keep space in between")
sep=inp.split()
name1=sep[0]
name2=sep[1]
name3=sep[2]
print(name1)
print(name2)
print(name3)

enter the three name with keep @ in betweennikhil katiyar kumar
nikhil
katiyar
kumar

In [ ]:
# Format variables using a string.format() method. Write a program to use string.format() methodto format the following three variables as per the expected output
totalmoney=input()
quantity=input()
price=input()
print("i have {} dollar so i can buy {} footwall for {} doller".format(totalmoney,quantity,price))

1200
4
450
i have 1200 dollar so i can buy 4 footwall for 450 doller

In [ ]:
# Write a program to find the simple interest when the value of principle,rate of interest and timeperiod is given.
p=float(input("principal amount"))
r=float(input("rate of intrest"))
t=float(input("time in year"))
si=(p*r*t)/100
print(si)
td=p+si
print(td)

principal amount67000
rate of intrest12
time in year5
40200.0
107200.0

In [ ]:
# Write a program to find the volume of the cylinder. Also find the cost when ,when the cost of1litre milk is 40Rs.
r=float(input("radious:"))
h=float(input("height:"))
vol=(3.14*r*r*h)
cost=(40*vol)
print(f"volume of cylender is {vol} and total cost of {vol} liter  milk is {cost}")

radious:2
height:4
volume of cylender is 50.24 and total cost of 50.24 liter  milk is 2009.6000000000001

In [ ]:
def fabonacci(n):
  if n==0 or n==1:
    return n
  else:
    return fabonacci(n-1)+fabonacci(n-2)

for i in range(1,11):
  fabo=fabonacci(i)
  print(fabo,end=" ")

1 1 2 3 5 8 13 21 34 55

In [ ]:
#search any given num in list aur not
list1=[]
n=int(input("enter the number that has in list"))
while 1<=n:
  num1=int(input("enter the list number 1 by on 1"))
  list1.append(num1)
  n=n-1
num2=int(input("enter the search num in list1 "))
for i in list1:
  if num2==i:
    print("yes match")